.foodContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top:20px;
}

h1{
    margin-left:-5%;
    color:brown;
}
.form{

    margin-left: 45%;
}
.form >label{
    color:blue;
    font-size: larger;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    
}
.form >button{
    background:green;
    color:black;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    text-align: center;
    margin-left: 40px;
}

.foodContainer> div{
    display: flex;
    flex-wrap: wrap;
}
    .card {
        border: 2px solid #d24949;
        border-radius: 4px;
        padding: 20px;
        margin: 10px;
        width: 300px;
        background:darkgoldenrod;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 25%;
        border-radius:5px;
      }
      .card-header{
        color:yellow;
      }
      
.form1{
    color:blue;
    margin: 10px 50px;
    border: 1px solid cornflowerblue;
    padding: 5px;
    background: grey;
    text-align: center;
    border-radius: 5px;
}
#del{
    background: Red;
    color:aliceblue;
    width:70px;
    height: 25px;
    margin-left: 35%;
}
#updt{
    background:blue;
    color: antiquewhite;
    
}
body{
    background:black;
}